
<table class="table">
  <thead>
    <tr>
      {{#each headers as |header|}}
        <th>{{header}}</th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each tableColumn as |column|}}
    <tr>
      <td>{{column.count}}</td>
      <td>{{column.cost}}</td>
      <td>{{column.events.win}}</td>
      <td>{{column.events.pixel}}</td>
      <td>{{column.events.click}}</td>
      <td>{{column.events.word}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>