<table class="table">
  <thead>
    <tr>
    	<th>count</th>
    	<th>cost</th>
    	{{#each eventHeaders as |event|}}
    	 <th>{{event}}</th>
    	{{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each transformedColumn as |column|}}
  	<tr>
      <td>{{column.count}}</td>
      <td>{{column.cost}}</td>
      <td>{{column.win}}</td>
      <td>{{column.pixel}}</td>
      <td>{{column.click}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>